@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');


:root {
    --border-color: #e3e5e4;
    --background-color: rgba(250, 236, 114, 0.733);
    --background-number-color: rgba(107, 112, 121, 0.733);

    --text-color: rgb(32, 29, 29);
}
* {
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    margin: 0;
    font-family: 'Indie Flower', sans-serif;
}

.draggable-list {
    border: 1p solid var(--border-color);
    color: var(--text-color);
    padding: 0;
    list-style-type: none;
    text-align: center;
}

.draggable-list li {
    
    background-color: rgb(237, 248, 218);
    display: flex;
    flex: 1;
    width: 400px;

}

.draggable-list li:not(:last-of-type) {
    border-bottom: 10px solid var(--border-color);
}



.draggable-list .number {
    border-radius: 10px;

    background-color: var(--background-number-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 46px;
    height: 60px;
    width: 60px;
}

.draggable-list .person-name {
    margin: 0 20px 0 0;
}

.draggable-list li.over .draggable {  /* this is the color of the LI when another is being dragged over */
    background-color: slategray;
}

.draggable-list li.right .person-name {
    color:rgba(30, 189, 51, 0.733);
}

.draggable-list li.wrong .person-name {
    color:rgba(189, 102, 30, 0.733);
}

.draggable {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    flex: 1;
}

.check-btn {
    background-color: var(--background-number-color);
    border: none;
    color: var(--text-color);
    padding: 20px 30px;
    cursor: pointer;
    border-radius: 20px;
}

.check-btn:active {
    transform: scale(0.98);
}

.check-btn:focus {
    outline: none;
}
